@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

/*******/
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  max-width: 100vw;
}
html{
  scroll-behavior: smooth;
}
/****dddd***/
header{
  background:url('../img/home0.jpg') rgba(37, 37, 37, 0.9);
  background-blend-mode: darken;
  width: 100%;
  height: 50rem;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: -4px -4px 30px rgb(107, 106, 106);
  margin-bottom: 0;
}
/****dddd***/
nav{
  top: 0%;
  width: 100%;
  z-index: 8;
  height: 3.9rem;  
  position: fixed; 
  display: flex;
  font-family: 'Poppins', sans-serif;
  align-items: center; 
  justify-content: space-between;
  background: rgba(39, 36, 44, 0.65);
  box-shadow: -2px -2px 20px 1px rgba(179, 179, 179, 0.253);
}

nav .logo{
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 1.5px;
  padding-left: 2rem;
}

nav .logo p{ 
  color: rgb(226, 226, 226);
  text-transform: uppercase;
} 
nav>ul{
  padding-right: 5rem;
}
nav ul li{
  display: inline-block;
  list-style: none;
}
nav ul li a{
  color: rgb(226, 226, 226);
  text-decoration: none;
  font-size: 1.4rem; 
  padding: 0px 1rem;
}

nav ul li a:hover{ 
  opacity: 0.7;
  transition: 0.4s;
}
.homepage:hover{
  cursor: pointer;
} 
.slide {
  transition: all 1ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -webkit-transition: all 1ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -moz-transition: all 1ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -o-transition: all 1ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -webkit-transition-delay: 1s;
  -moz-transition-delay: 1s;
  -o-transition-delay: 1s;
  -ms-transition-delay: 1s;
  transition-delay: 1s;
  transform: scale(0, 1);
  -moz-transform: scale(0, 1);
  -webkit-transform: scale(0, 1);
  -o-transform: scale(0, 1);
  -ms-transform: scale(0, 1);
  -ms-transform-origin: 100% 0%;
  -webkit-transform-origin: 100% 0%;
  transform-origin: 100% 0%;
  z-index: 8000;
  top: 0%;
  left: 0;
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: transparent;
  color: #fff;
  overflow: visible;
}

.slide:before {
  content: "";
  transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
  -webkit-transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
  transform: scale(0, 0) translate(50%, -50%);
  -moz-transform: scale(0, 0) translate(50%, -50%);
  -webkit-transform: scale(0, 0) translate(50%, -50%);
  -o-transform: scale(0, 0) translate(50%, -50%);
  -ms-transform: scale(0, 0) translate(50%, -50%);
  -webkit-transition-delay: 0.35s;
  -moz-transition-delay: 0.35s;
  -o-transition-delay: 0.35s;
  -ms-transition-delay: 0.35s;
  transition-delay: 0.35s; 
  width: 370vw;
  height: 70vw;
  padding-top: 370vh;
  padding-right: 150vw;
  background-color: #3c3c42;
  position: fixed;
  top: 0;
  right: 0;
  -ms-transform-origin: 100% 0%;
  -webkit-transform-origin: 100% 0;
  transform-origin: 100% 0;
  border-radius: 100%; 
  z-index: 1
}  
 
.slide-w {
  transition: all 1ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -webkit-transition: all 1ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -moz-transition: all 1ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -o-transition: all 1ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -webkit-transition-delay: 1s;
  -moz-transition-delay: 1s;
  -o-transition-delay: 1s;
  -ms-transition-delay: 1s;
  transition-delay: 1s;
  transform: scale(0, 1);
  -moz-transform: scale(0, 1);
  -webkit-transform: scale(0, 1);
  -o-transform: scale(0, 1);
  -ms-transform: scale(0, 1);
  -ms-transform-origin: 100% 0%;
  -webkit-transform-origin: 100% 0%;
  transform-origin: 100% 0%;
  z-index: 8000;
  top: 0%;
  left: 0;
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: transparent; 
  overflow: visible
}

.slide-w:before {
  content: "";
  transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
  -webkit-transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
  transform: scale(0, 0) translate(50%, -50%);
  -moz-transform: scale(0, 0) translate(50%, -50%);
  -webkit-transform: scale(0, 0) translate(50%, -50%);
  -o-transform: scale(0, 0) translate(50%, -50%);
  -ms-transform: scale(0, 0) translate(50%, -50%);
  -webkit-transition-delay: 0.35s;
  -moz-transition-delay: 0.35s;
  -o-transition-delay: 0.35s;
  -ms-transition-delay: 0.35s;
  transition-delay: 0.35s;
  display: block;
  width: 370vw;
  height: 70vw;
  padding-top: 370vh;
  padding-right: 150vw;
  background-color: #eeeef5;
  position: fixed;
  top: 0;
  right: 0;
  -ms-transform-origin: 100% 0%;
  -webkit-transform-origin: 100% 0;
  transform-origin: 100% 0;
  border-radius: 100%; 
  z-index: 1
}  
.active {
  transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  -ms-transition-delay: 0s;
  transition-delay: 0s;
  top: 0%;
  left: 0%;
  bottom: 0%;
  right: 0%
}

.active:before {
  transform: scale(1, 1) translate(50%, -50%);
  -moz-transform: scale(1, 1) translate(50%, -50%);
  -webkit-transform: scale(1, 1) translate(50%, -50%);
  -o-transform: scale(1, 1) translate(50%, -50%);
  -ms-transform: scale(1, 1) translate(50%, -50%);
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  -ms-transition-delay: 0s;
  transition-delay: 0s
}

.houseOptn{ 
  background-color: rgba(39, 36, 44, 0.65); 
  z-index: 10; 
  border-bottom-left-radius: 0.7rem;
  border-bottom-right-radius: 0.7rem;
  padding: 1.4rem;
  padding-bottom: 0% !important;
  padding-right: 1.5rem;
  position: absolute;
  display: flex;
  font-size: 1.3rem;
  flex-direction: column;  
  align-items: baseline;
  margin-left: 1rem;
  opacity: 0;
}
.houseHover{
  visibility: visible !important;
  opacity: 1 !important;
}
.houseOptn>li{
  padding: 6px 2px;
  color: #fff;
}
.houseOptn>li:hover{ 
  cursor: pointer;
  padding-left: 5px;
  opacity: 0.6;
  animation: navHover 0.09s linear 1 forwards;
  border-left: 2px solid whitesmoke;
  border-radius: 2rem;
  transition: 0.1s;
}
@keyframes navHover {
  0%{
    padding-left: 5px;
  }  
  50%{
    padding-left: 7px;
  }
  100%{
    padding-left: 9px;
  }
}
.hideIt{
  visibility: hidden;
  font-size: 1rem;
  padding-bottom: 0% !important;
  padding-top: 0% !important;
}
/*donehhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh*/
 
.sliderBody{
  font-family: 'Lato', sans-serif;
  height: 100vh;
}

.slider-container {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.left-slide {
  height: 100%;
  width: 35%;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.5s ease-in-out;
}

.left-slide > div {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.left-slide h1 {
  font-size: 40px;
  margin-bottom: 10px;
  margin-top: -30px;
}
.left-slide p{
  font-size: 20px;
  max-width: 70%;
}

.right-slide {
  height: 100%;
  position: absolute;
  top: 0;
  left: 35%;
  width: 65%;
  transition: transform 0.5s ease-in-out;
}

.right-slide > div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100%;
  width: 100%;
}

button {
  background-color: #fff;
  border: none;
  color: #aaa;
  cursor: pointer;
  font-size: 16px;
  padding: 15px;
}

button:hover {
  color: #222;
}

button:focus {
  outline: none;
}

.slider-container .action-buttons button {
  position: absolute;
  left: 35%;
  top: 50%;
  z-index: 100;
}

.slider-container .action-buttons .down-button {
  transform: translateX(-100%);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.slider-container .action-buttons .up-button {
  transform: translateY(-100%);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

main{
  margin-top: 0;
}
.card>img{
  width: 17rem;
  height: 30rem;
  border-radius: 29rem;
}
.card{
  display: flex; 
  width: 25rem;
  height: 34rem;
  padding-top: 1.5rem;
  padding-bottom: 2rem;
  flex-direction: column; 
  background-color: rgba(245, 245, 245, 0.897);
  border-radius: 0.5rem;
  margin: 0.5rem; 
  align-items: center;
  box-shadow: -0.5px -0.5px 1px rgb(204, 203, 203);
  color: #222;
}
.card:hover{
  box-shadow: -2px -2px 14px rgb(204, 203, 203);
  transition: 0.35s;
  width: 25.4rem;
  height: 35.3rem;
}
.cards.row {
  display: flex; 
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 3rem;
  padding-top: 5rem;
  margin-bottom: 10rem;
}  
.card>p{ 
  max-width: 18rem;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

/*//////section 2*/
/* Font
---------------------------------------------------------------*/
.font-xs{font-size: 1.2rem !important;}
.font-x1{font-size: 1.6rem !important;}
.font-x2{font-size: 2.2rem !important;}
.font-x3{font-size: 3rem !important;}
.font-x4{font-size: 5rem !important;}

@media screen and (max-width: 1024px){
  .font-xs{font-size: 1rem !important;}
  .font-x1{font-size: 1.2rem !important;}
  .font-x2{font-size: 1.8rem !important;}
  .font-x3{font-size: 2.5rem !important;}
  .font-x4{font-size: 4rem !important;}
}

@media screen and (max-width: 900px){
  .font-xs{font-size: 0.9rem !important;}
  .font-x1{font-size: 1.1rem !important;}
  .font-x2{font-size: 1.4rem !important;}
  .font-x3{font-size: 2.9rem !important;}
  .font-x4{font-size: 3rem !important;}
}

@media screen and (max-width: 768px){
  .font-xs{font-size: 0.8rem !important;}
  .font-x1{font-size: 1rem !important;}
  .font-x2{font-size: 1.2rem !important;}
  .font-x3{font-size: 1.5rem !important;}
  .font-x4{font-size: 2.2rem !important;}
}

@media screen and (max-width: 640px){
  .font-x3{font-size: 1.3rem !important;}
}


.heading{margin: 0;line-height:normal;}   
.img{
  width: auto;
  max-width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  border: none;
}
 

a{
  outline: none;
  text-decoration: none;
  color: #767676;
  cursor: pointer;
} 

/* General classes
-----------------------------------------------------------*/
.wrapper{
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: left;
  word-wrap: break-word;
}
.container{padding: 6rem;}

@media screen and (max-width: 1024px){
  .container{padding: 5rem !important;}
}
@media screen and (max-width: 900px){
  .container{padding: 4rem !important;}
}
@media screen and (max-width: 768px){
  .container{padding: 2rem !important;}
}
@media screen and (max-width: 640px){
  .container{padding: 1.5rem !important;}
}

/* Background Color */
.bg-white{background-color: #FFF !important;}
.bg-light-pink{background-color: #FCEBF0 !important;}


/* Width Classes */
.w-30{width: 30%;}
.w-40{width: 40%;}
.w-45{width: 45%;}
.w-50{width: 50%;}
.w-60{width: 60%;}
.w-70{width: 70%;}

/* margin
-------------------------------------------------------------*/
.m-0{margin: 0rem !important;}
.m-1{margin: 1rem !important;}
.m-2{margin: 2rem !important;}
.m-3{margin: 3rem !important;}
.m-4{margin: 4rem !important;}

.my-1{margin-top: 1rem;margin-bottom: 1rem;}
.my-2{margin-top: 2rem;margin-bottom: 2rem;}
.my-3{margin-top: 3rem;margin-bottom: 3rem;}
.my-4{margin-top: 4rem;margin-bottom: 4rem;}
.my-5{margin-top: 5rem;margin-bottom: 5rem;}
.my-6{margin-top: 6rem;margin-bottom: 6rem;}

.mx-1{margin-left: 1rem;margin-right: 1rem;}
.mx-2{margin-left: 2rem;margin-right: 2rem;}
.mx-3{margin-left: 3rem;margin-right: 3rem;}
.mx-4{margin-left: 4rem;margin-right: 4rem;}
.mx-5{margin-left: 5rem;margin-right: 5rem;}
.mx-6{margin-left: 6rem;margin-right: 6rem;}


@media screen and (max-width: 1024px){
  .w-70{width: 80%;}
}
@media screen and (max-width: 900px){
  .w-70{width: 90%;}
}
@media screen and (max-width: 768px){
  .w-30{width: 70%;}
  .w-40, .w-50, .w-60, .w-70{width: 90%;}
}

/* Text Classes */
.text-center{text-align: center;}
.text-right{text-align: right;}
.text-uppercase{text-transform: uppercase;}
.text-left{text-align: left !important;}
.text-bold{font-weight: 600;}
.text-normal{font-weight: normal;}
.text-justify{text-align: justify !important;}
.text-black{color: #000 !important;}
.text-white{color: #FFF !important;}
.text-dark{color: #767676;}
.text-pink{color: #E7507B;}


/* Flex property:
This will align all the flex items in different rows under single column*/
.d-flex-c{
  display: flex !important;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
}

/* Flex Property:
This will align the flex items in different columns within a singl row */
.d-flex-r{
  display: flex !important; 
  flex-direction: row; 
  justify-content: center;
}


/* Overlay class for adding colour efffect to picture */
.overlay{
  position: relative;
  z-index: 1;
  background-color: rgba(0,0,0,0.6) !important;
}
 
 
/* Button */
.btn{
  position: relative;
  font-weight: 500;
  border-width: 1px;
  letter-spacing: normal;
  margin: 1rem 0.8rem;
  margin-bottom: 0;
  transition-property: background-color, color, border-color, box-shadow;
  transition-duration: 0.3s, 0.3s, 0.3s, 0.8s;
  transition-timing-function: ease-in-out;
  padding: 0.8rem 1.5rem;
  border-radius: 100px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  word-break: break-word;
}

.btn:hover, .btn:focus{
  box-shadow: -2px -10px 40px 0 rgba(0,0,0,0.2) !important;
}

.btn-pink, .btn-pink:active{
  background-color: #E7507B !important;
  color: #FFF !important;
  border-color: #f75f8a !important;
}
.btn-pink:hover, .btn-pink:focus{
  background-color: #df275b !important;
  border-color: #f03a6e !important;
}

/* Pulsing Effect Animation on Button Hover */
.btn:hover:after, .btn:focus:after{
  content: '';
  border-left: 1px solid;
  border-right: 1px solid;
  border-color: inherit;
  width: 100%;
  height: 100%;
  border-radius: 100px;
  transition: border-radius 0.3s;
  position: absolute;
  left: 0%;
  top: 0%;
  opacity: 1;
  animation: 1s btn-animation linear infinite;
}

@keyframes btn-animation{
  0%{
    transform: scale(1);
  }
  100%{
    transform: scale(1.3,1);
    opacity: 0;
  }
}
 
/* Top part */
#top-part{
  background: url(../img/bg-1.jpg) fixed no-repeat;
  background-blend-mode: darken;
  min-height: 992px;
  background-size: cover;
  background-position: center;
}

#top-part .overlay{min-height: 992px;}

/* banner text*/
#banner-text{
  position: relative;
  top: 50px;
  padding-left: 50px;
}
#banner-text .title{font-weight: 800;}
#banner-text .ubtitle{font-weight: 500;}

/* To align the boxes in the middle of the container */
#top-part #box{
  margin-top: 10rem;
  margin-right: auto;
  margin-left: auto;
}
#top-part #box > .box-item{
  padding: 3rem;
}

@media screen and (max-width: 1024px){
  #top-part {min-height: 950px;}
  #top-part .overlay {min-height: 950px;}
}
@media screen and (max-width: 900px){
  #top-part {min-height: 900px;}
  #top-part .overlay {min-height: 900px;}
}
@media screen and (max-width: 1768px){
  #top-part {min-height: 850px;}
  #top-part .overlay {min-height: 850px;}
}
@media screen and (max-width: 640px){
  #top-part #box.d-flex-r{flex-direction: column;}
}

/* Image Grid */
.container-grid{width: 65%;padding-bottom: 6rem;}

/* Image Hover effect 1 */
.hover1{
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
}
.hover1 .overlay{
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.5);
  transition: all 0.4s cubic-bezier(0.88,-0.99,0,1.81);
  opacity: 0;
}
.hover1 img{
  display: block;
  position: relative;
  transition: all 0.4s cubic-bezier(0.88,-0.99,0,1.81);
}
.hover1 h2{
  color: #FFF;
  text-align: center;
  position: relative;
  font-size: 1.1rem;
  background-color: rgba(0,0,0,0.6);
  transform: translateY(-100px);
  transition: all 0.4s cubic-bezier(0.88,-0.99,0,1.81);
  padding: 10px
}

.hover1:hover img{transform: scale(1.2);}
.hover1:hover .overlay{opacity: 1;}
.hover1:hover h2{opacity: 1;transform: translateY(0);}

.title{
  margin-bottom: 2rem;
}
.subtitle{
  margin-bottom: 4rem;
}
.padd{
  padding-bottom: 1rem;
}
.padd-2{
  padding-bottom: 2rem;
}
.padd-4{
  padding-bottom: 4rem;
}
 
a{
  outline: none;
  text-decoration: none;
  color: #767676;
  cursor: pointer;
}
    
.furniture-1{ 
  border-radius: 1rem;
}
.furniture-2{ 
  border-radius: 1rem;
}

@media screen and (min-width: 768px) {
.furniture-1{
  margin-top: 5.9rem;
  width: 37vw;
  height: 22rem;
  border-radius: 1rem;
}
.furniture-2{
  margin-top: 4.3rem;
  width: 37vw;
  height: 22rem;
  border-radius: 1rem;
}
.furniture-1:hover{
  box-shadow: -2px -2px 24px rgb(54, 42, 42);
  width: 37.2vw;
  transition: 0.5s;
  height: 22.2rem;
}
.furniture-2:hover{
  box-shadow: -2px -2px 24px rgb(58, 51, 51);
  margin-top: 4.3rem;
  width: 37.2vw;
  transition: 0.5s;
  height: 22.2rem;
}
}
   
/*Features Grid
--------------------------------------*/
.features-grid-container{
  width: 80%;
  margin-left: auto;margin-right: auto; /* Align all the conatiner in the centre*/
  padding-bottom: 6rem;
}

/* Reverse the position of image and text in second row */
.features-grid-row#second-row{flex-direction: row-reverse;}

#first-row .features-grid-row-text{text-align: left;}
#second-row .features-grid-row-text{text-align: right;}

@media screen and (max-width: 768px){
  .features-grid-row .w-50{
    width: 80%;
    margin-left: auto;margin-right: auto; /*Align in  the center */
  }
  .features-grid-row.d-flex-r{flex-direction: column;}
  .features-grid-row#second-row{flex-direction: column;}

  #first-row .features-grid-row-text,
  #second-row .features-grid-row-text{text-align: center;}
}


/*Parallax image----------------------------------*/
#parallax-image{background: url(../img/house8.jpg) rgba(61, 70, 75,0.7) fixed no-repeat;background-blend-mode: darken;}



/* Our blog panels
-------------------------------------------------- */
 
/* 4% margin on the left of all <articles> tags except the first one */
#our-blog article:not(:first-child){margin-left: 4%;}

#our-blog article{
  transition: 0.5s ease;
  border: 1px solid #DDD;
}

#our-blog article:hover{
  transition: 0.5s ease;
  box-shadow: 0 20px 80px 0 rgba(0,0,0,0.5);
}

#our-blog .meta li{display: inline-block;font-size: 0.8rem;}

/* Adding margin and divider "|" after the tag icons */
#our-blog .meta li:after{margin-left: 5px;content: "|";}

/* Remove the margin and divider "|" after the last tag */
#our-blog .meta li:last-child::after{margin: 0; content: "";}

/*Image Hover effect  2*/
.hover2 figure{background: #FFF; overflow: hidden;}
.hover2 figure img{
  transition: 0.3s ease-in-out;
  transform: rotate(15deg) scale(1.4); /*Rotate and enlarges the images */
}

.hover2 figure:hover img{
  transform: rotate(0) scale(1);/*Back to original shape and orientation on hover */
  opacity: 0.8;
}

@media screen and (max-width: 768px){
  #our-blog-panel.d-flex-r{flex-direction: column;}
}


/* Text grid with parallax Image
------------------------------------------------*/
#parallax-text-grid{
  background-image: url(../img/house12.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;    /*Parallax Effect */
}
#parallax-text-grid-divider{
  padding-top: 10rem;padding-bottom: 10rem;
}
#parallax-text-grid .title{
  position: relative;
  display: flex;
  align-items: center;
}
#parallax-text-grid .card-2{
  position: relative;
  display: flex;
  flex-direction: column;
}
#parallax-text-grid .title .num{
  flex-shrink: 0;
  position: absolute;
  z-index: 0;
  font-size: 6rem;
  width: 100%;
  color: #767676;
}
#parallax-text-grid .title .card-title{z-index: 1;width: 100%;}
#parallax-text-grid .card-2 .card-text{margin-top: 2rem;}

@media screen and(max-width: 768px){
  #parallax-text-grid-divider .d-flex-r{flex-direction: column;}
  #parallax-text-grid-divider #right-half .d-flex-r{flex-direction: column;}
  #parallax-text-grid-divider #left-half{align-items: center;margin-bottom: 3rem;}
  #parallax-text-grid .card-2{text-align: center !important;}
  #parallax-text-grid-divider{
    width: 70%;
    margin-left: auto;margin-right: auto;
    padding: 5rem 2rem;
  }
}

 

.cards-4{
  padding: 2rem;
  padding-left: 3rem;
}
.left-card{
  padding: 3rem; 
}
 


.row{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}
/*footer*/
footer a,
footer a:hover,
footer a:focus,
footer a:active {
    text-decoration: none;
    outline: none;
}
 
footer a:active,
footer a:focus {
    color: #333;
    text-decoration: none;
    transition-timing-function: ease-in-out;
    -ms-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-duration: .2s;
    -ms-transition-duration: .2s;
    -moz-transition-duration: .2s;
    -webkit-transition-duration: .2s;
    -o-transition-duration: .2s;
}

footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
footer img {
max-width: 100%;
height: auto;
}
footer section {
    padding: 1rem 0;
   /* min-height: 100vh;*/
}
.footer {
background: linear-gradient(105deg,#e66eaa ,#a52657);
padding-top: 1.2rem;
padding-bottom: 0.1rem;
}
/*END FOOTER SOCIAL DESIGN*/ 

@media only screen and (max-width:768px) { 
.single_footer{margin-bottom:10px;}
}
.single_footer h4 {
color: #fff;
margin-top: 0;
margin-bottom: 17px;
font-weight: 700;
text-transform: uppercase;
font-size: 20px;
}
.single_footer h4::after {
content: "";
display: block;
height: 2px;
width: 40px;
background: #fff;
margin-top: 1em;
}
.single_footer p{color:#fff;}
.single_footer ul {
margin: 0;
padding: 0;
list-style: none;
} 

.single_footer ul li,.single_footer ul li a  {
color: #fff;
-webkit-transition: all 0.3s ease 0s;
transition: all 0.3s ease 0s;
line-height: 36px;
font-size: 15px;
text-transform: capitalize;
}  

.single_footer_address ul li{color:#fff;}
.single_footer_address ul li :hover{color:rgb(51, 156, 226); transition: 0.34s;}
.single_footer_address ul li span {
font-weight: 400;
color: #fff;
line-height: 28px;
}
.contact_social ul {
list-style: outside none none;
margin: 0;
padding: 0;
}

/*START NEWSLETTER CSS*/
.subscribe {
display: block;
position: relative;
margin-top: 13px;
width: 100%;
}
.subscribe__input {
background-color: #fff;
border: medium none;
border-radius: 5px;
color: #333;
display: block;
font-size: 15px;
font-weight: 500;
height: 60px;
letter-spacing: 0.4px;
margin: 0;
padding: 0 150px 0 20px;
text-align: center;
text-transform: capitalize;
width: 100%;
}
@media only screen and (max-width:768px) { 
.subscribe__input{padding: 0 50px 0 20px;}
}

.subscribe__btn {
background-color: transparent;
border-radius: 0 25px 25px 0;
color: #01c7e9;
cursor: pointer;
display: block;
font-size: 20px;
height: 60px;
position: absolute;
right: 0;
top: 0;
width: 60px;
}
.subscribe__btn i{transition: all 0.3s ease 0s;}
@media only screen and (max-width:768px) { 
.subscribe__btn{right:0px;}
}

.subscribe__btn:hover i{
color:#ff3666;
}
button {
padding: 0;
border: none;
background-color: transparent;
-webkit-border-radius: 0;
border-radius: 0;
}
/*END NEWSLETTER CSS*/

/*START SOCIAL PROFILE CSS*/
.social_profile {margin-top:40px;}
.social_profile ul{
list-style: outside none none;
margin: 0;
padding: 0;
}
.social_profile ul li{float:left;}
.social_profile ul li a {
text-align: center;
border: 0px;
text-transform: uppercase;
transition: all 0.3s ease 0s;
margin: 0px 5px;
font-size: 18px;
color: #fff;
border-radius: 30px;
width: 50px;
height: 50px;
line-height: 50px;
display: block;
border: 1px solid rgba(255,255,255,0.2);
}
@media only screen and (max-width:768px) { 
.social_profile ul li a{margin-right:10px;margin-bottom:10px;}
}
@media only screen and (max-width:480px) { 
.social_profile ul li a{
width:40px;
height:40px;
line-height:40px;
}
}
.social_profile ul li a:hover{
background:#fcb4c5;
border: 1px solid #ff3666;
color:#fff;
border:0px;
}
/*END SOCIAL PROFILE CSS*/
.copyright {
margin-top: 70px;
padding-top: 40px;
color:#fff;
font-size: 15px;
border-top: 1px solid rgba(255,255,255,0.4);
text-align: center;
}
.copyright a{color:#01c7e9;transition: all 0.2s ease 0s;}
.copyright a:hover{color:#ff3666;}